html, body{
margin: 0;
padding: 0;
height: 100%;
width: 100%;
font-family: 'Montserrat', sans-serif;
}
h2,h4,p{
    margin-block-end:0;
    margin-block-start: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}
.main-body{
    background: url('images/background.png') center center no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: relative;
    overflow-x: hidden;
}
.logo{
    max-width: 32%;
    padding-left: 20px;
    padding-top: 20px;
}
.group-title{
    max-width: 60%;
    margin: 0 auto;
    padding-top: 25px;
}
.fb-image-frame{
    max-width: 90%;
    margin: 0 auto;
    padding-top: 20px;
    position: relative;
}
.fb-image-frame svg{
    position: relative;
    z-index: 2;
}
.like-blur{
    position: absolute;
    top: 27%;
    right: -12%;
    max-width: 30%;
    z-index: 3;
}
.heart{
    position: absolute;
    max-width: 15.6%;
    top: 50%;
    right: 6%;
    z-index: 3;
}
.group-button{
    display: flex;
    max-width: 90%;
    height: fit-content;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.button{
    min-width: 25%;
    height: 100%;
}
.reward-group{
    display: flex;
    max-width: 90%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}
.reward-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.reward-group .reward-content img{
    max-width: 100%;
}
.reward-group .reward-content h4{
    text-transform: uppercase;
    font-size: 12px;
    color: #fff
}
.reward-group .reward-content p{
    color: #fff;
    font-size: 9px;
}
.poster-only-desktop{
    display: none;
}
.modal {
    display: none; 
    position: fixed;
    z-index: 5;
    padding-top: 80px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    overflow-x: hidden;
    background-color: rgba(0,0,0,0.4);
}
.modal img{
    width: 100%;
    object-fit: contain;
    position: relative;
    z-index: 1000;
    max-width: 330px;
    margin: 0 auto;
    margin-bottom: -60px;
    display: block;
}

.modal-content {
    width: 75%;
    height: 50%;
    margin: auto;
    max-width: 22em;
    position: relative;
    box-sizing: border-box;
    color: #000;
    background: #fff;
    background-clip: padding-box;
    border: solid 5px transparent;
    border-radius: 2.5em;
}

.modal-content::before{
    content: '';
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: -1;
    margin: -5px;
    border-radius: inherit;
    background: linear-gradient(to right, #fbc247, #ef3911);
}

.modal-content-1 {
    width: 99%;
    height: 70%;
    margin: auto;
    max-width: 22em;
    position: relative;
    color: #000;
    background: #fff;
    overflow-x: hidden;
    overflow-y: auto;
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}

.modal h2{
    text-align: center;
    text-transform: uppercase;
    padding-top: 15px;
    padding-bottom: 20px;
    background: linear-gradient(to right, #fbc247, #ef3911);
    font-size: 26px;
    font-weight: 600;
    color: #fff;
    /* position: absolute;
    top: -1px;
    left: -1px; */
    width: 100.5%;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    margin-top: -1px;
}
.white-dash{
    background-color: #fff;
    width: 100%;
    height: 2px;
    position: absolute;
}
.dash-0{
    height: 5px;
    top: 52px
}
.dash-1{
    top: 60px;
}

.modal-content-1 .modal-container{
    padding: 1rem 1rem 0 1rem;
    margin-bottom: -1rem;
}
.modal-content-1 .modal-container .step{
    margin-bottom: 1rem;
}
.modal-content-1 .modal-container .step p{
    font-size: 12px;
    line-height: 18px;
    font-size: #555;
}
.modal-content-1 .modal-container .step .tag{
    color: #2c82ff;
    font-style: italic;
    font-weight: 600;
}
.modal-content-1 .modal-container .step .title{
    font-size: 16px;
    font-weight: 900;
    margin-bottom: 0.25rem;
    color: #686868;
}

.modal-content-1::-webkit-scrollbar{
    width: 6px;
}
.modal-content-1::-webkit-scrollbar-track{
    border-radius: 10px;
    background-color: #f45f24;
}
.modal-content-1::-webkit-scrollbar-thumb{
    background: #fff;
    border-radius: 50px;
}

.modal .button-close{
    width: 55%;
    margin: 0 auto;
    position: relative;
    top: 0;
}
#myCanvas, #playDiv{
    position: absolute;
    top:13%;
    left:9.75%;
    z-index: 1;
    background-color: #fff;
    /* display: none; */
}
#playDiv{
    /* display: flex; */
    display: none;
    z-index: 2;
    background: transparent;
}
#playButton{
    margin: auto;
    position: relative;
    border: 2px solid;
    border-radius: 50px;
    background: #fff;
    opacity: .5;
}
.poster-rotate{
    display: none;
}
#myVideo{
    display: none;
    width: 71vw;
    height: 70%;
    position: absolute;
    top: 13%;
    left: 9.75%;
}
#imageExample{
    width: 71vw;
    position: absolute;
    top:13%;
    left:9.5%;
    z-index: 5;
}
#svg-loading-white,#svg-loading-orange{
    display: none;
    position: absolute; 
    top: 24%;
    left: 22%;
}
/* iphone 5 */
@media only screen and (max-width: 320px){
    .modal .button-close{
        top: 1%;
    }  
    #myCanvas{
        top:13.5%;
    }
}
/* iphone 6,7,8 plus */
@media only screen and (min-width: 414px){
    #myCanvas, #playDiv{
        top:12%;
    }
}
/* tablet */
@media only screen and (min-width: 768px){
    .modal .button-close{
        top: 10%;
    }
    #myCanvas{
        top: 11%;
        left: 10.25%
    }
    #myVideo{
        top: 10%;
        height: 72%;
    }
    #imageExample{
        top: 10.5%;
        left: 9%;
    }
    #svg-loading-white,#svg-loading-orange{
        top: 35%;
        left: 35%;
    }
}
/* desktop */
@media only screen and (min-width: 1024px) {
    main{
        display: none;
    }
    .poster-only-desktop{
        display: block;
        height: 100%;
        width: 100%;
        position: relative;
    }
    .poster-only-desktop .poster{
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
    .poster-only-desktop .logo{
        position: absolute;
        top: 5%;
        left: 5%;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
    /* html {
      transform: rotate(-90deg);
      transform-origin: left top;
      width: 100vh;
      height: 100vw;
      overflow-x: hidden;
      position: absolute;
      top: 100%;
      left: 0;
    } */
    .poster-rotate{
        display: block;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
    main{
        display: none;
    }
}